<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <Shaders>
    <ShaderConfiguration xsi:type="TexturedModel">
      <Name>Capsule</Name>
      <Enabled>true</Enabled>
      <AutoDraw>true</AutoDraw>
      <VertexShader>
#version 410
layout(location = 0) in vec3 vp;
layout(location = 1) in vec2 vt;
layout(location = 2) in vec3 vn;
out vec2 tex_coord;
out vec3 normal;
uniform mat4 mvp;
uniform vec2 dimensions;

void main()
{
  vec4 v = vec4(vp, 1.0);
  gl_Position = mvp * v;
  tex_coord = vt;
  normal = vn;
}
</VertexShader>
      <FragmentShader>
#version 400
uniform sampler2D tex;
in vec2 tex_coord;
out vec4 frag_colour;

void main()
{
  vec4 texel = texture(tex, tex_coord);
  frag_colour = vec4(tex_coord,1,0);
}
</FragmentShader>
      <RenderState>
        <StateConfiguration xsi:type="EnableState">
          <Capability>DepthTest</Capability>
        </StateConfiguration>
        <StateConfiguration xsi:type="DepthFunctionState">
          <Function>Less</Function>
        </StateConfiguration>
      </RenderState>
      <TextureUnits>
        <TextureConfiguration xsi:type="Texture2D">
          <Name>tex</Name>
          <WrapS>Repeat</WrapS>
          <WrapT>Repeat</WrapT>
          <MinFilter>Linear</MinFilter>
          <MagFilter>Linear</MagFilter>
          <TextureSlot>Texture0</TextureSlot>
        </TextureConfiguration>
      </TextureUnits>
      <FileName>..\..\models\sphere.obj</FileName>
      <DrawMode>Triangles</DrawMode>
    </ShaderConfiguration>
  </Shaders>
</ShaderWindowSettings>